 <!-- Footer -->
 <footer class="footer">

    <a class="link__¡phonehouse" href="/"><img class="navbar__logo"
            src="../images/desing/LOGO CASA SIN FONDO MEJORADO.png" alt="Logo" /></a>

    <ul>
        <li>
            <a href="https://google.com.ar" target="blanck">Link 1</a>
            <links1></links1>
        </li>
        <li>
            <a href="https://google.com.ar" target="blanck">Link 2</a>
            <links2></links2>
        </li>
        <li>
            <a href="https://google.com.ar" target="blanck">Link 3</a>
            <links3></links3>
        </li>
        <li>
            <a href="https://google.com.ar" target="blanck">Link 4</a>
            <links4></links4>
        </li>
    </ul>

    <ul class="social__icon">
        <li> <a href="https://www.instagram.com/iphone.house.sr/"> <i class="fa-brands fa-instagram"></i></a> </li>
        <li><i class="fa-brands fa-whatsapp"></i></li>
    </ul>

</footer>

