<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>¡PhoneHouse- <%= page  %> </title>
    <link rel="shortcut icon" href="/images/desing/LOGO CASA SIN FONDO MEJORADO.png" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="../CSS/general.css">
    <link rel="stylesheet" href="../CSS/<%= style %>.css">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/58eab6a6c8.js" crossorigin="anonymous"></script>
    

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Quicksand:wght@300..700&display=swap"
        rel="stylesheet">

</head>