<nav class="navbar">
    <div class="navbar__left">

        <a href="/"><img class="navbar__logo"
                src="../images/desing/LOGO CASA SIN FONDO MEJORADO.png" alt="Logo" /></a>

        <a href="/">
            <h2>!PhoneHouse </h2>
        </a>

        <!-- hacer el botón cliclkeable sin javascript (reemplazar después)(lo intente pero no pude haciendolo como en la última clase del modulo 7 de JavaScript para DOM)-->
        <input type="checkbox" name="checkbox" id="menu-toggle" >
        <label for="menu-toggle" class="menu-icon-action">
            <div class="fa-solid fa-bars" id="menu-icon"></div>
        </label>


        <ul class="left__icon">
            <li> <a href="http://127.0.0.1:3000/home.html"> Apple</a> </li>
            <li> <a href="http://127.0.0.1:3000/home.html"> Accesorios</a> </li>
            <li> <a href="http://127.0.0.1:3000/home.html"> Samsung</a></li>
            <li> <a href="http://127.0.0.1:3000/home.html"> Usados</a></li> 
        </ul>

     

        <ul class="right__icon">
            <li><i class="fa-solid fa-circle-user"></i></li>
            <li><i class="fa-solid fa-cart-plus"></i></li>
        </ul>
    

</nav>