<!DOCTYPE html>
<html lang="en">
   
<!-- Head -->

<%- include('./partials/head.ejs', {style:'addProduct', page:"Nuevo Producto"}) %>

    <body>
    <!-- Navbar -->
    
    <%- include('./partials/navbar.ejs') %>

 <!-- Main -->
  <main>
    <h1 class="title" >Nuevo Producto</h1>
    <form class="form" action="/" method="post"> 
        <div class="group__form">
           <label for="name">Nombre</label>
            <input type="text" name="name" id="name" placeholder="!Phone 16 Pro Max">
        </div>

        <div class="group__form">
            <label for="image">Imagen</label>
            <input type="file" accept="image/*" multiple>
        </div>

        <div class="group__form">
            <label for="descripcion">Descripción</label>
             <textarea name="descripcion" id="descripcion" placeholder="Memoria RAM: 8 GB..."></textarea>
         </div>

         <div class="group__form">
            <label for="category">Categoría</label>
            <select name="category" id="category">
                <option selected disabled>Selecciona una opción</option>
                <option value="¡phone">¡Phone</option>
                <option value="macbook">MacBook</option>
                <option value="airpods">Airpods</option>
                <option value="applewatch">Apple Watch</option>
            </select>
         </div>

         <div class="group__form">
        
            <label for="colors">Color</label>
            <input type="color" name="colors" id="color">
         
            </select>
            
            <div class="group__form">
                <label for="name">Nombre del Color</label>
                 <input type="text" name="name" id="name" placeholder="verde azulado">
             </div>
             <!-- revisar si está bien el ID -->

         </div>

         <div class="group__form">
            <label for="price">Precio</label>
            <input type="number" name="price" id="price">
         </div>

         <div class="aviable">
            <label for="aviable">Disponible</label>
            <input type="checkbox" name="aviable" id="aviable">
         </div>

         <button class="btn" type="submit">Crear</button>
    </form>
  </main>
  <!-- Footer -->
  
  <%- include('./partials/footer.ejs') %>

</body>
</html>
