:root {
    --color1: #ffc000 ;
   --color2: #c9eb33 ;
    --color3: #fd0300 ;
    --color4: #000000 ;
    --color5: #008ef9 ;
    --color6: #ff86a9 ;
    --base: #faf7f8 ;
}
.banner {
    background-image: url(../images/banner.jpg);
    height: 350px;
    background-size: cover;
    font-size: 70%;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap: 75%;
}

@media (max-width:768px){
    .banner {
        height: 120px;
    }
    }

.banner h3 {
    font-size: 30px;
    width: 500px;
}

@media (max-width:768px){
    .banner h3 {
        font-size: 18px;
        width: 300px;
    }
    }

.btn__calltoaction {
    background-color: var(--base);
    font-size: 1.2rem;
    width: 9%;
    display: block;
    margin: auto;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px grey;
}

@media (max-width:768px){
    .btn__calltoaction {
        font-size: 0.75rem;
        min-width: 20%;
    }
    }

.extrainformation ul {
    display: flex;
    list-style: none;
    justify-content:space-between;
    padding: 10px;
    margin: 0;
    gap: 10px;
    margin-top: 25px;
    
}
.extrainformation li {
    margin-top: 25px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 2.5px 2.5px grey;

}

@media (min-width:768px){
    .extrainformation li {
        font-size: 1.2rem;
        width: 20%;
    }
    }
    @media (max-width:421px){
        .extrainformation li {
            font-size: 12px;
        }
        }

.title {
    font-size: 1.5rem;
    margin: 15px 15px 5px;
    }

    @media (max-width:500px){
        .title {
            font-size: 1.2rem;
            margin-left: 10px;
        }
        }

.selector{
    margin: 10px 15px 20px;
    font-size: 1rem;
}

@media (max-width:500px){
    .selector {
        font-size: 0.9rem;
        margin-left: 10px;
    }
    }

.productos {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    gap: 5px;
    
}

.card {
    border: 1px solid grey;
    width: 47%;
    margin-bottom: 10px;
    box-sizing: border-box;
    max-width: 400px;
    display: flex;
  justify-content: left;
}

@media (min-width:760px){
    .card {
        justify-content: center;
    }
    }

.card img{
    align-self:center;
 

}
.card div {
    max-width: 50%;
    align-self:normal;
    margin-top: 8px;
}

@media (max-width:767px){
   .card img{
    margin-left: 10px;
    max-width: 70%;

   }
    .card div {
        margin-top: 8px;
        max-width: 35%;;
    }
    }

    @media (max-width:500px){
        .card img{
         margin-left: 2px;
         max-height: 90%;
     
        }
         .card div {
            margin-top: 20px; 
            font-size: 13px;
         }
         }

.btn {
    background-color: var(--base);
    font-size: 1rem;
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px grey;
}

.btn:hover {
    color: var(--color2);
    transform: scale(1.1);
}
.banner button:hover {
    color: var(--color2);
    transform: scale(1.1);
}
